.App {
  text-align: center;
  display: grid;
  grid-template-rows: 1fr 7fr;
  grid-template-areas:
  "header"
  "body";
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  grid-area: header;
  background-color: lightgrey;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(22px + 2vmin);
  color: #282c34;
  text-transform: uppercase;
}

.App-body {
  grid-area: body;
  background-color: #282c34;
  height: 50rem;
  color: #fff;
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
  "mySkills requiredSkills";
  padding: 8rem;

}

.my-skills,
.required-skills {
  border: 2px solid red;
}

.my-skills {

  grid-area: mySkills;
}

.required-skills {

  grid-area: requiredSkills;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
